<html>
<head>
<title>GCM Analog Model - A tool for global change impacts research</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css" type="text/css">
<script language="JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body bgcolor="#132A61" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('{{ STATIC_URL }}images/link_project_s.gif','{{ STATIC_URL }}images/link_model_s.gif','{{ STATIC_URL }}images/link_run_s.gif','{{ STATIC_URL }}images/link_contact_s.gif')">
<table width="100%" border="0" height="100%">
  <tr>
    <td align="center" valign="middle">
      <table width="691" border="0" height="446" cellpadding="0" cellspacing="0">
        <tr> 
          <td align="left" valign="top" width="691" height="219" colspan="2"><img src="{{ STATIC_URL }}images/spacerb.gif" width="343" height="34"><img src="{{ STATIC_URL }}images/pic1.1.jpg" width="198" height="34"><img src="{{ STATIC_URL }}images/spacerb.gif" width="150" height="34"><br>
            <img src="{{ STATIC_URL }}images/logo1.gif" width="308" height="32"><img src="{{ STATIC_URL }}images/pic2.1.jpg" width="265" height="32"><img src="{{ STATIC_URL }}images/spacerb.gif" width="118" height="32"><br>
            <img src="{{ STATIC_URL }}images/spacerb.gif" width="301" height="20"><img src="{{ STATIC_URL }}images/pic3.1.jpg" width="284" height="20"><img src="{{ STATIC_URL }}images/spacerb.gif" width="106" height="20"><br>
            <img src="{{ STATIC_URL }}images/logo2.gif" width="138" height="31"><img src="{{ STATIC_URL }}images/spacerb.gif" width="17" height="31"><img src="{{ STATIC_URL }}images/pic4.1.jpg" width="225" height="31"><img src="{{ STATIC_URL }}images/pic4.2.jpg" width="217" height="31"><img src="{{ STATIC_URL }}images/spacerb.gif" width="94" height="31"><br>
            <img src="{{ STATIC_URL }}images/spacerb.gif" width="155" height="20"><img src="{{ STATIC_URL }}images/pic5.1.jpg" width="225" height="20"><img src="{{ STATIC_URL }}images/pic5.2.jpg" width="222" height="20"><img src="{{ STATIC_URL }}images/spacerb.gif" width="89" height="20"><br>
            <img src="{{ STATIC_URL }}images/logo3.gif" width="138" height="82"><img src="{{ STATIC_URL }}images/spacerb.gif" width="17" height="82"><img src="{{ STATIC_URL }}images/pic6.1.jpg" width="225" height="82"><img src="{{ STATIC_URL }}images/pic6.2.jpg" width="222" height="82"><img src="{{ STATIC_URL }}images/spacerb.gif" width="89" height="82"></td>
        </tr>
        <tr> 
          <td align="left" valign="bottom" height="227" width="155"><img src="{{ STATIC_URL }}images/spacer.gif" width="155" height="1"> 
            <h1>Predicting the likely future climate<br>
              changes and global warming for a broad range of possible<br>
              greenhouse gas<br>
              emission scenarios</h1>
            </td>
          <td align="left" valign="top" height="227" width="536"><img src="{{ STATIC_URL }}images/pic7.1.jpg" width="225" height="99" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/pic7.2.jpg" width="149" height="99" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/pic8.2.jpg" width="68" height="11"><img src="{{ STATIC_URL }}images/spacerb.gif" width="94" height="11"><br>
            <img src="{{ STATIC_URL }}images/pic8.3.jpg" width="55" height="21"><a href="the_project.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('project','','{{ STATIC_URL }}images/link_project_s.gif',1)"><img src="{{ STATIC_URL }}images/link_project.gif" width="107" height="21" name="project" border="0"></a><br>
            <img src="{{ STATIC_URL }}images/pic8.4.jpg" width="40" height="22"><a href="the_model.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('model','','{{ STATIC_URL }}images/link_model_s.gif',1)"><img src="{{ STATIC_URL }}images/link_model.gif" width="122" height="22" name="model" border="0"></a><br>
            <img src="{{ STATIC_URL }}images/pic8.5.jpg" width="22" height="20"><a href="run.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('run','','{{ STATIC_URL }}images/link_run_s.gif',1)"><img src="{{ STATIC_URL }}images/link_run.gif" width="140" height="20" name="run" border="0"></a><br>
            <a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('contact','','{{ STATIC_URL }}images/link_contact_s.gif',1)"><img src="{{ STATIC_URL }}images/link_contact.gif" width="162" height="25" name="contact" border="0"></a><br clear=all>
            <img src="{{ STATIC_URL }}images/pic8.1.jpg" width="225" height="128" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/spacerb.gif" width="311" height="81"><br>
            <img src="{{ STATIC_URL }}images/spacerb.gif" width="10" height="47" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/ceh_logo.gif" width="48" height="47" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/spacerb.gif" width="10" height="47" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/mo_logo.gif" width="48" height="47" align="left" vspace="0" hspace="0"><img src="{{ STATIC_URL }}images/spacerb.gif" width="10" height="47" align="left" vspace="0" hspace="0"><span class="smTxtW">Copyright 
            &copy; 2001, CEH Wallingford. All rights reserved. - Design by <a href="http://www.samui.co.uk">Samui 
            Design &amp; Management</a></span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
